<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Ratepay GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="RatePAY_Payment::ratepay" title="RatePAY" sortOrder="500">
                    <resource id="RatePAY_Payment::ratepay_protocol" title="Protocol" sortOrder="10">
                        <resource id="RatePAY_Payment::ratepay_protocol_apilog" title="API Logs" sortOrder="10" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
