<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ratepay>
            <general>
                <true_offline_mode>0</true_offline_mode>
                <street_field_usage>housenr</street_field_usage>
            </general>
        </ratepay>
        <payment>
            <ratepay_invoice>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <model>RatePAY\Payment\Model\Method\Invoice</model>
                <sandbox>1</sandbox>
                <order_status>pending</order_status>
                <title>Ratepay Invoice</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_invoice>
            <ratepay_directdebit>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <sandbox>1</sandbox>
                <model>RatePAY\Payment\Model\Method\Directdebit</model>
                <order_status>pending</order_status>
                <title>Ratepay Directdebit</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_directdebit>
            <ratepay_installment>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <sandbox>1</sandbox>
                <model>RatePAY\Payment\Model\Method\Installment</model>
                <order_status>pending</order_status>
                <title>Ratepay Instalment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_installment>
            <ratepay_installment0>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <sandbox>1</sandbox>
                <model>RatePAY\Payment\Model\Method\Installment0</model>
                <order_status>pending</order_status>
                <title>Ratepay 0% Financing</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_installment0>
            <ratepay_invoice_backend>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <model>RatePAY\Payment\Model\Method\InvoiceBackend</model>
                <sandbox>1</sandbox>
                <order_status>pending</order_status>
                <title>Ratepay Invoice Backend</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_invoice_backend>
            <ratepay_directdebit_backend>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <sandbox>1</sandbox>
                <model>RatePAY\Payment\Model\Method\DirectdebitBackend</model>
                <order_status>pending</order_status>
                <title>Ratepay Directdebit Backend</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_directdebit_backend>
            <ratepay_installment_backend>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <sandbox>1</sandbox>
                <model>RatePAY\Payment\Model\Method\InstallmentBackend</model>
                <order_status>pending</order_status>
                <title>Ratepay Instalment Backend</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_installment_backend>
            <ratepay_installment0_backend>
                <payment_action>authorize</payment_action>
                <active>0</active>
                <sandbox>1</sandbox>
                <model>RatePAY\Payment\Model\Method\Installment0Backend</model>
                <order_status>pending</order_status>
                <title>Ratepay 0% Financing Backend</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </ratepay_installment0_backend>
        </payment>
    </default>
</config>
