<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Ratepay GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="RatepayErrorProcessor" type="\RatePAY\Payment\Plugin\RatepayErrorProcessor"/>
    </type>
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="RatepayGuestErrorProcessor" type="\RatePAY\Payment\Plugin\RatepayGuestErrorProcessor"/>
    </type>
    <preference for="RatePAY\Payment\Api\InstallmentPlanInterface" type="RatePAY\Payment\Service\V1\InstallmentPlan" />
    <preference for="RatePAY\Payment\Api\Data\InstallmentPlanResponseInterface" type="RatePAY\Payment\Service\V1\Data\InstallmentPlanResponse" />
    <preference for="RatePAY\Payment\Api\CheckoutConfigInterface" type="RatePAY\Payment\Service\V1\CheckoutConfig" />
    <preference for="RatePAY\Payment\Api\Data\CheckoutConfigResponseInterface" type="RatePAY\Payment\Service\V1\Data\CheckoutConfigResponse" />
    <preference for="RatePAY\Payment\Api\OfflineCalculatorInterface" type="RatePAY\Payment\Service\V1\OfflineCalculator" />
    <preference for="RatePAY\Payment\Api\Data\OfflineCalculatorResponseInterface" type="RatePAY\Payment\Service\V1\Data\OfflineCalculatorResponse" />
    <type name="Magento\Framework\Webapi\ErrorProcessor">
        <plugin name="RatePAY_Payment_plugin_WebapiErrorProcessor" type="RatePAY\Payment\Plugin\WebapiErrorProcessor" sortOrder="1"/>
    </type>
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="RatePAY_Payment_Plugin_MethodList" type="RatePAY\Payment\Plugin\MethodList" sortOrder="1" />
    </type>
    <virtualType name="RatePAY\Payment\Model\ResourceModel\ApiLog\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">ratepay_api_log</argument>
            <argument name="resourceModel" xsi:type="string">RatePAY\Payment\Model\ResourceModel\ApiLog</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ratepay_protocol_apilog_grid_data_source" xsi:type="string">RatePAY\Payment\Model\ResourceModel\ApiLog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="RatePAY_Payment_plugin_CreditmemoService" type="RatePAY\Payment\Plugin\CreditmemoService" sortOrder="1" />
    </type>
    <type name="RatePAY\Payment\Block\Form\Base">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Block\Form\Dfp">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Controller\Checkout\B2b">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Controller\Checkout\InstallmentConfiguration">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Controller\Checkout\InstallmentPlan">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Helper\Validator">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Model\RechnungConfigProvider">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Model\Method\AbstractMethod">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="backendCheckoutSession" xsi:type="object">Magento\Backend\Model\Session\Quote\Proxy</argument>
            <argument name="installmentPlan" xsi:type="object">RatePAY\Payment\Service\V1\InstallmentPlan\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Observer\OrderPaymentPlaceEnd">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Plugin\MethodList">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Service\V1\InstallmentPlan">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Plugin\CreditmemoService">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Plugin\RatepayGuestErrorProcessor">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Controller\LibraryController">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Helper\Content\Customer\Contacts">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Helper\Content\Customer\Customer">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Helper\Content\Payment\Payment">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="RatePAY\Payment\Block\Customer\Bankdata">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Controller\Customer\Delete">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="RatePAY\Payment\Helper\Head\Additional">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="RatePAY\Payment\Helper\Data">
        <arguments>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <type name="RatePAY\Payment\Helper\Head\Head">
        <arguments>
            <argument name="paymentHelper" xsi:type="object">Magento\Payment\Helper\Data\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Payment\Model\Checks\TotalMinMax">
        <plugin name="RatePAY_Payment_Plugin_TotalMixMax" type="RatePAY\Payment\Plugin\TotalMinMax" sortOrder="10" />
    </type>
    <type name="Magento\Framework\View\Element\Message\Renderer\EscapeRenderer">
        <plugin name="RatePAY_Payment_Plugin_EscapeRenderer" type="RatePAY\Payment\Plugin\EscapeRenderer" sortOrder="10" />
    </type>
</config>
