<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Ratepay GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_place_end">
        <observer name="ratepay_sales_order_payment_place_end" instance="RatePAY\Payment\Observer\OrderPaymentPlaceEnd"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="ratepay_sales_order_save_after" instance="RatePAY\Payment\Observer\OrderSaveAfter"/>
    </event>
</config>
