<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
                <fieldset data-bind="attr: {class: 'fieldset payment items ' + getCode(), id: 'additionalInformation_' + getCode()}">
                    <div class="field _required" data-bind="if: isPhoneVisible()">
                        <label data-bind="attr: {for: getCode() + '_phone'}" class="label">
                            <span><!-- ko i18n: 'Phone'--><!-- /ko --></span>
                        </label>
                        <div class="control required">
                            <input type="text" name="payment[rp_phone]" required="required" class="input-text required" value=""
                                   data-bind="attr: {
                                         id: getCode() + '_phone',
                                         autocomplete: off,
                                         title: $t('Phone')},
                                         'aria-required': required,
                                         value: currentBillingAddress().telephone"
                            />
                        </div>
                    </div>
                    <fieldset data-bind="attr: {class: 'fieldset payment items dob ' + getCode(), id: 'payment_form_' + getCode()}" style="margin: 0 0 5px; ">
                        <label class="label">
                            <span><!-- ko i18n: 'Date of Birth'--><!-- /ko --><br>
                                <!-- ko if: currentCustomerData.dob -->
                                <!-- ko text: currentCustomerData.dob --><!-- /ko -->
                                <!-- /ko --></span>
                        </label>
                        <fieldset id="ratepay_dob-form" class="fieldset" data-bind="if: isDobSet()">
                            <div class="field _required" style="float:left; position: relative; width:60px; margin: 0 0 5px;">
                                <div class="control">
                                    <input type="text" name="payment[rp_dob_day]" class="input-text required-entry" value=""
                                           data-bind="attr: {
                                            id: getCode() + '_dob_day',
                                            autocomplete: off,
                                            title: $t('Date of Birth')},
                                            value: rp_dob_day"

                                    />
                                </div>
                                <label data-bind="attr: {for: getCode() + '_dob_day'}" class="label">
                                    <span><!-- ko i18n: 'DD'--><!-- /ko --></span>
                                </label>
                            </div>
                            <div class="field _required" style="float:left; position: relative; width:60px; margin: 0 5px;">
                                <div class="control">
                                    <input type="text" name="payment[rp_dob_month]" class="input-text" value=""
                                           data-bind="attr: {
                                            id: getCode() + '_dob_month',
                                            autocomplete: off,
                                            title: $t('Date of Birth')},
                                            value: rp_dob_month"
                                    />
                                </div>
                                <label data-bind="attr: {for: getCode() + '_dob_month'}" class="label">
                                    <span><!-- ko i18n: 'MM'--><!-- /ko --></span>
                                </label>
                            </div>
                            <div class="field _required" style="float:left; position: relative; width:60px; margin: 0 0 5px;">
                                <div class="control">
                                    <input type="text" name="payment[rp_dob_year]" class="input-text" value=""
                                           data-bind="attr: {
                                            id: getCode() + '_dob_year',
                                            autocomplete: off,
                                            title: $t('Date of Birth')},
                                            value: rp_dob_year"
                                    />
                                </div>
                                <label data-bind="attr: {for: getCode() + '_dob_year'}" class="label">
                                    <span><!-- ko i18n: 'YYYY'--><!-- /ko --></span>
                                </label>
                            </div>
                        </fieldset>
                        <div>
                            <div>
                                <!-- ko i18n: 'ratepay_terms_block_1'--><!-- /ko -->
                                <a target="_blank" href="https://www.ratepay.com/zgb-dse"><!-- ko i18n: 'ratepay_terms_block_2'--><!-- /ko --></a>
                                <!-- ko i18n: 'ratepay_terms_block_3'--><!-- /ko -->
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="ratepay_bankdata" class="fieldset">
                        <ul style="list-style: none; margin-bottom: 15px; border: 1px solid #BDBDBD; padding-left: 4px;">
                            <li><label><!-- ko i18n: 'Ratepay address'--><!-- /ko --></label></li>
                            <li><label><!-- ko i18n: 'Creditor'--><!-- /ko --><!-- ko i18n: 'Ratepay Creditor ID'--><!-- /ko --></label></li>
                            <li><label><!-- ko i18n: 'Mandate'--><!-- /ko --><!-- ko i18n: 'Mandate Ref'--><!-- /ko --></label></li>
                        </ul>
                        <ul style="list-style: none; margin-left: -40px;">
                            <li style="margin-bottom: 15px;"><label><b><!-- ko i18n: 'insert bankdata'--><!-- /ko --></b></label></li>
                            <li><label><!-- ko i18n: 'Account holder'--><!-- /ko --></label></li>
                            <li><label><i><!-- ko text: currentBillingAddress().firstname --><!-- /ko --> <!-- ko text: currentBillingAddress().lastname --><!-- /ko --></i></label></li>
                        </ul>
                        <div class="field _required" style="float:left; position: relative; margin: 0 0 5px;">
                            <label data-bind="attr: {for: getCode() + '_iban'}" class="label">
                                <span><!-- ko i18n: 'IBAN'--><!-- /ko --></span>
                            </label>
                            <div class="control required">
                                <input type="text" name="payment[rp_iban]" class="input-text required-entry" value=""
                                       data-bind="attr: {
                                                    id: getCode() + '_iban',
                                                    autocomplete: off,
                                                    title: $t('IBAN')},
                                                    value: rp_iban"
                                />
                            </div>
                        <a id="ratepay_directdebit_sepa_agreement_link" data-bind= "click: showAgreement "><!-- ko i18n: 'ratepay_directdebit_sepa_link'--><!-- /ko --></a>
                        <table>
                            <tbody style="display:none" id="ratepay_directdebit_sepa_agreement">
                            <tr>
                                <td style="padding:10px 0;">
                                    <span class="required ratepayagreement">
                                        <!-- ko i18n: 'ratepay_directdebit_sepa_terms_block_1'--><!-- /ko -->
                                        <!-- ko i18n: 'Ratepay address'--><!-- /ko -->
                                        <!-- ko i18n: 'ratepay_directdebit_sepa_terms_block_2'--><!-- /ko -->
                                        <!-- ko i18n: 'ratepay_directdebit_sepa_terms_block_3'--><!-- /ko -->
                                    </span>
                                </td>
                            </tr><tr>
                                <td style="padding:10px 0;">
                                    <br/>
                                    <span style="font-weight:bold;"><!-- ko i18n: 'ratepay_directdebit_sepa_notice_block_1'--><!-- /ko --></span>
                                    <br/>
                                    <!-- ko i18n: 'ratepay_directdebit_sepa_notice_block_2'--><!-- /ko -->
                                    <br/>
                                    <!-- ko i18n: 'ratepay_directdebit_sepa_notice_block_3'--><!-- /ko -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div><br>
                    </fieldset>
                </fieldset>

        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
