<?xml version="1.0"?>
<!--
/**
 * Copyright (c) Ratepay GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_payment">
        <observer name="ratepay_admin_system_config_changed_section_payment" instance="RatePAY\Payment\Observer\SystemConfigChangedPayment" />
    </event>
</config>
