<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="ratepay_config" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                <comment><![CDATA[<div class="ratepay-logo"></div><div class="payment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br/>Etiam commodo tristique odio, eu tincidunt lectus convallis sit amet. <br/>Praesent sit amet lectus pretium, sodales nisi ut, ornare libero. Donec finibus venenatis lectus, eu pretium eros.</div>]]></comment>
                <fieldset_css>complex ratepay-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <group id="ratepay" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ratepay</label>
                    <field id="snippet_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Device Fingerprint Snippet-Id</label>
                        <config_path>payment/ratepay_general/snippet_id</config_path>
                    </field>
                    <field id="creditmemo_discount_type" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Creditmemo goodwill refund transmission type</label>
                        <source_model>RatePAY\Payment\Model\Source\CreditmemoDiscountType</source_model>
                        <config_path>payment/ratepay_general/creditmemo_discount_type</config_path>
                        <tooltip>Standard item means that the goodwill refund will be transferred as an ordinary item in the item list with the article-number "adj-ref" this has the sideeffect that only one goodwill refund per order can be executed. Special item sends the goodwill refund as a discount. This way multiple goodwill refunds can be executed per order.</tooltip>
                    </field>
                    <field id="true_offline_mode" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>True Offline Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>ratepay/general/true_offline_mode</config_path>
                        <tooltip>With True Offline Mode being enabled, communication with Ratepay when creating an invoice or a creditmemo is disabled. This will make the module behave in the Magento2 standard way. With True Offline Mode being disabled (default) the module will continue to communicate to Ratepay like before, this happens because the module didnt have a differentiation between those modes in the beginning and the customers were not supposed to have to change their workflow later when it was introduced.</tooltip>
                    </field>
                    <field id="street_field_usage" translate="label" type="select" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Street field usage</label>
                        <source_model>RatePAY\Payment\Model\Source\StreetFieldUsage</source_model>
                        <config_path>ratepay/general/street_field_usage</config_path>
                        <tooltip><![CDATA[Only applicable when 2 or more street lines are configured in customer configuration.<br><br><b>House number:</b> The second street line will be interpreted as the house number, 3rd and 4th street input will be interpreted as additional information.<br><br><b>Additional info:</b> Street lines 2 - 4 will be interpreted as additional information]]></tooltip>
                        <depends>
                            <field id="customer/address/street_lines" separator=",">2,3,4</field>
                        </depends>
                    </field>
                    <field id="profile_config" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Profiles</label>
                        <frontend_model>RatePAY\Payment\Block\Adminhtml\Config\Form\Field\ProfileConfig</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <field id="show_profile_config" translate="label" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Profile configuration</label>
                        <frontend_model>RatePAY\Payment\Block\Adminhtml\Config\Form\Field\ShowProfileConfig</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <group id="invoice" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Invoice</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_invoice/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_invoice/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_invoice/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_invoice/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_invoice/sort_order</config_path>
                        </field>
                    </group>
                    <group id="directdebit" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Direct Debit</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_directdebit/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_directdebit/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_directdebit/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_directdebit/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_directdebit/sort_order</config_path>
                        </field>
                    </group>
                    <group id="installment" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Instalment</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_installment/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_installment/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_installment/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_installment/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_installment/sort_order</config_path>
                        </field>
                    </group>
                    <group id="installment0" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>0% Financing</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_installment0/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_installment0/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_installment0/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_installment0/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_installment0/sort_order</config_path>
                        </field>
                    </group>
                </group>
                <group id="ratepay_backend" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ratepay backend orders</label>
                    <field id="profile_config_backend" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Profiles</label>
                        <frontend_model>RatePAY\Payment\Block\Adminhtml\Config\Form\Field\ProfileConfig</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <field id="show_profile_config" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Profile configuration</label>
                        <frontend_model>RatePAY\Payment\Block\Adminhtml\Config\Form\Field\ShowProfileConfig</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    </field>
                    <group id="invoice" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Invoice Backend</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_invoice_backend/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_invoice_backend/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_invoice_backend/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_invoice_backend/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_invoice_backend/sort_order</config_path>
                        </field>
                    </group>
                    <group id="directdebit" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Direct Debit Backend</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_directdebit_backend/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_directdebit_backend/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_directdebit_backend/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_directdebit_backend/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_directdebit_backend/sort_order</config_path>
                        </field>
                    </group>
                    <group id="installment" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Instalment Backend</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_installment_backend/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_installment_backend/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_installment_backend/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_installment_backend/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_installment_backend/sort_order</config_path>
                        </field>
                    </group>
                    <group id="installment0" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>0% Financing Backend</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/ratepay_installment0_backend/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/ratepay_installment0_backend/title</config_path>
                        </field>
                        <field id="payment_fee" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Payment Fee</label>
                            <config_path>payment/ratepay_installment0_backend/payment_fee</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>New Order Status</label>
                            <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
                            <config_path>payment/ratepay_installment0_backend/order_status</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/ratepay_installment0_backend/sort_order</config_path>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
